<fieldset id="part1">	
   <label for "company_name">Name </label> <input type="text" name="company_name" id="company_name" value="<%= @company.name %>"></input><br/>
   <%= select('company', 'business_category', @industry_list, "#{@company.business_category}") %>
	<br />
	We  <%= select('company', 'usage_level', @usage_level_list, "#{@company.usage_level}") %>  Open Source
   <label for "company_website"> Website http:// </label> <input type="text" name="company_website" id="company_website" value="<%= @company.website %>"></input>

  <label for "company_email"> Company Email </label> <input type="text" name="company_email" id="company_email" value="<%= @company.company_email %>"></input>
 

    <label for "admin_email"> Administrative Email </label> <input type="text" name="admin_email" id="admin_email" value="<%= @company.admin_email %>"></input>

    <label for "company_blurb">Blurb</label> <textarea name="company_blurb" id="company_blurb"><%= @company.blurb %></textarea>
</fieldset>
<fieldset id="part2"> 
    <label for "company_description">Description </label><textarea  name="company_description" id="company_description" rows="20"><%= @company.description %></textarea>
<label for "save"> Please ensure that all items are completed before pressing send </label>
<input type="submit" value="Save" id="save"/>
