<div id = "companyDetails">
	<div id = "newTop"><div></div></div>
		<div class = "padding10Sides">
		  Company Name <%= @company.name %><br />
		  Company Blurb <%= @company.blurb %><br />
		  Company Description <%= @company.description %><br />
		  Company Business Category <%= @company.business_category_text %><br />
		  Company Usage Level <%= @company.usage_level_text %><br />
		  Company Email <%= @company.company_email %><br />
		</div>
	<div id = "newBottom"><div></div></div>
</div>
